/* body {
    font-family: "Noto Sans KR", sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Itim&family=Noto+Sans+KR:wght@100..900&family=Sunflower:wght@300&display=swap');

body {
    font-family: "IBM Plex Sans KR", sans-serif;
}

button {
    font-family: "IBM Plex Sans KR", sans-serif;
}