.SAauctionList {
  width: 1150px;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow-x: auto;
  justify-content: center;
}

.SAauctionList.overflow {
  justify-content: start;
}

.SAauctionList::-webkit-scrollbar {
  display: none;
}

.SAnoAuction {
width: 1200px;
height: 504px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 32px;
font-weight: 900;
color: #000000;
line-height: 1;
}

  .SAnoAuction p {
    margin: 1rem 0;
    font-size: 30px;
    font-weight: 900;
  }

.SAbidButton {
  background-color: #D9D9D9;
  color: black;
  transition: all 0.3s ease-in-out;
}

.SAbidButton:hover{
  background-color: #0A369D;
  color: white;
}