.CB_carousel {
    flex-direction: column;
    width: 1200px;
    overflow: hidden;
    position: relative;
}

.CB_carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.CB_carousel-item {
    display: flex;
    justify-content: right;
    flex-direction: row;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.CB_carousel-control {
    margin-top: 10px;
    width: 40px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CB_carousel-control:hover {
    background-color: #0A369D;
}

.CB_carousel-control img {
    width: 15px;
    height: 15px;
}

.CB_carousel-toggle {
    padding: 0;
    margin-top: 10px;
    width: 40px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CB_carousel-toggle:hover {
    background-color: #0A369D;
}

.CB_carousel-pad-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 350px;
    background-color: black;
    top: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    z-index: 1; /* 자식 요소보다 뒤에 오도록 설정 */
}

.CB_carousel-pad1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px; 
}

.CB_carousel_contents {
    color: white;
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.CB_carousel_h {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900;
    width: 250px; /* Set a fixed width */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) when text is truncated */
}

.CB_carousel_contents h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    width: 200px; /* Set a fixed width */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) when text is truncated */
}

.CB_carousel_contents p {
    font-size: 18px;
    font-weight: 900;
}

.CB_carousel-num {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CB_enter_action-button {
    width: 100px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.CB_enter_action-button:hover {
    background-color: #0A369D;
}