.blank {
    height: 100px;
}

.Mypage_Container {
    width: 1200px;
    height: max-content;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mypage_SideBarContainer {
    width: 300px;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_SideBarProfile {
    display: flex;
    width: 280px;
    height: 280px;
    border-bottom: 2px solid #BFBFBF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Mypage_ProfileImg {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #BFBFBF;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    
}

.Mypage_ProfileImgModifyBtn {
    width: 40px;
    height: 40px;
    background-color: black;
}

.Mypage_SideBarCategory {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Mypage_ProfileBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_UserInfoContainer {
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: column;
}

.Mypage_UserInfoDetail {
    display: grid;
    width: 800px;
    height: 75px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoDetail2 {
    display: grid;
    width: 800px;
    height: 150px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoDetail3 {
    display: grid;
    width: 800px;
    height: 150px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.Mypage_UserInfoDetail2 .right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: center;
}

.rightOne {
    display: flex;
    width: 500px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
}

.rightTwo {
    display: flex;
    width: 500px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoTitle {
    display: flex;
    height: 75px;
    align-items: center;
}

.Mypage_UserInfoModifyBtn {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.Mypage_AuctionInfoContainer {
    display: flex;
    width: 800px;
    height: 800px;
    background-color: gray;
    flex-direction: column;
}

.Mypage_WalletInfoContainer {
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: space-between;
}

.Mypage_WalletCredit {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.Mypage_WalletBtn {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: right;
    align-items: center;
}

.Mypage_WalletBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_WalletUsedContainer {
    display: flex;
    width: 700px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
}

.Mypage_WalletUsed {
    width: 700px;
    height: 490px;
    overflow-y: auto;
}

.Mypage_WalletUsed::-webkit-scrollbar {
    display: none;
}

.Mypage_TitleContainer {
    display: flex;
    width: 800px;
    height: 100px;
    border-bottom: 5px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_ModifyBtnContainer {
    display: flex;
    width: 800px;
    height: 100px;
    border-top: 5px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_WalletCard {
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    justify-content: space-between;
    align-content: center;
}

.Mypage_WalletCardLeft {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.Mypage_WalletCardRight {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 90px;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}

.Mypage_WalletCardLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Mypage_WalletCardLine2 {
    display: flex;
    flex-direction: row;
}

.Mypage_WalletCardLine3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Mypage_WalletLine {
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
}

.Mypage_WalletRecordLine {
    display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
}