.blank {
    height: 100px;
}

.Mypage_Container {
    width: 1200px;
    height: max-content;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.Mypage_SideBarContainer {
    width: 300px;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_SideBarProfile {
    display: flex;
    width: 280px;
    height: 280px;
    border-bottom: 2px solid #BFBFBF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Mypage_ProfileImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Mypage_ProfileImg {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #BFBFBF;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    
}

.Mypage_ProfileImgModifyBtn {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #e9e9e9;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    bottom: 12px;
    left: 150px;
    transition: all 0.3s ease-in-out;
}

.Mypage_ProfileImgModifyBtn:hover {
    background-color: #0A369D;
    color: white;
}

.Mypage_ProfileImgModifyBtn img {
    width: 18px;
    height: 18px;
    content: url('../../images/change_icon.svg');
}

.Mypage_ProfileImgModifyBtn:hover img {
    content: url('../../images/white_change_icon.svg');
}

.Mypage_SideBarCategory {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_SideBarCategory_List_Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Mypage_SideBarCategory_List {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Mypage_SideBarCategory_List div {
    transition: all 0.3s ease-in-out;
}

.Mypage_SideBarCategory_List div:hover {
    transform: scale(1.2);
}

#remove_wallet_margin {
    margin-bottom: 0;
}

.Mypage_SideBarCategory div {
    height: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.Mypage_SideBarCategory div p {
    font-size: 18px;
    font-weight: 600;
}


.Mypage_ProfileBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_UserInfoContainer {
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: column;
}

.Mypage_UserInfoDetail {
    display: grid;
    width: 800px;
    height: 75px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoDetail2 {
    display: grid;
    width: 800px;
    height: 150px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoDetail3 {
    display: grid;
    width: 800px;
    height: 150px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.Mypage_UserInfoDetail2 .right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: center;
}

.right-column-top {
    display: flex;
    align-items: center;
    height: 70px;
    width: 500px;
}

.right-column-bottom {
    display: flex;
    align-items: center;
    height: 70px;
    width: 500px;
    border-top: 1px solid #BFBFBF;
}

.rightOne {
    display: flex;
    width: 500px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
}

.rightOne2 {
    display: flex;
    width: 500px;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
}

.rightTwo {
    display: flex;
    width: 500px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #BFBFBF;
}

.rightTwo2 {
    display: flex;
    width: 500px;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
}

.Mypage_UserInfoTitle {
    display: flex;
    height: 75px;
    align-items: center;
}

.Mypage_UserInfoModifyBtn {
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    color: black; 
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.Mypage_UserInfoModifyBtn:hover {
    background-color: #0A369D;
    color: white;
}

/* .Mypage_AuctionInfoContainer {
    display: flex;
    width: 800px;
    height: 800px;
    flex-direction: column;
} */

.Mypage_WalletInfoContainer {
    display: flex;
    width: 700px;
    height: 80px;
    justify-content: space-between;
}

.Mypage_WalletCredit {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.Mypage_WalletCredit div p {
    font-size: 20px;
    font-weight: 600;
}

.Mypage_WalletBtn {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: right;
    align-items: center;
}

.Mypage_WalletBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_WalletUsedContainer {
    width: 700px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
}

.Mypage_WalletUsed {
    width: 700px;
    height: 490px;
    overflow-y: auto;
}

.Mypage_WalletUsed::-webkit-scrollbar {
    display: none;
}

.Mypage_NoRecord {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 490px;

}

.Mypage_TitleContainer {
    display: flex;
    width: 800px;
    height: 100px;
    border-bottom: 5px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_ModifyBtnContainer {
    display: flex;
    width: 800px;
    height: 100px;
    border-top: 5px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_WalletCard {
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    justify-content: space-around;
    align-content: center;
}

.Mypage_WalletCard:hover {
    background-color: #e2e2e2;
}

.Mypage_WalletCardLeft {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.Mypage_WalletCardLeft img{
    width: 70px;
    height: 70px;
}

.Mypage_WalletCardRight {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 90px;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}

.Mypage_WalletCardLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Mypage_WalletCardLine1 div h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 900;
}

.Mypage_WalletCardLine2 {
    display: flex;
    flex-direction: row;
}

.Mypage_WalletCardText {
    width: 500px;
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) when text is truncated */
}

.Mypage_WalletCardLine3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}

.Mypage_WalletLine {
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
}

.Mypage_WalletRecordLine {
    display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
}

.Mypage_BttnBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Mypage_Bttn {
    background-color: #D9D9D9;
    width: 100px;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.Mypage_Bttn:hover {
    background-color: #0A369D;
    color: white;
}

.Mypage_AuctionInfoContainer {
    display: flex;
    width: 800px;
    height: 120px;
    flex-direction: column;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.Mypage_AuctionCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 40px;
}

.Mypage_AuctionCategory_Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_AuctionCategory_Title h3{
    font-size: 20px;
    font-weight: 600;
}


.Mypage_AuctionCategoryBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
    height: 40px;
}

.Mypage_AuctionCategoryBtnContainer button  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_AuctionCategoryBtnContainer button p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.Mypage_AuctionCategoryBtn {
    display: flex;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9; 
    color: black;
    font-weight: bold; 
    font-size: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.Mypage_AuctionCategoryBtn:hover {
    background-color: #0A369D;
    color: white;
}

.Mypage_AuctionCardContinaer {
    max-height: 550px;
    overflow-y: auto;
    scrollbar-width: none;
}

.Mypage_AuctionCardContainer::-webkit-scrollbar {
    display: none;
}

.Mypage_AuctionMainContainer {
    display: flex;
    flex-direction: column;
}

.Mypage_blank {
    height: 20px;
}

.Mypage_AuctionCard {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mypage_AuctionCard:hover {
    background-color: #e2e2e2;
}

.Mypage_AuctionProcess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #BFBFBF;
}

.Mypage_AuctionBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_AuctionContentBox {
    display: flex;
    flex-direction: row;
    height: 170px;
    border-bottom: solid 1px #BFBFBF;
}

.Mypage_AuctionCardType {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
}

.Mypage_AuctionCardType p {
    font-size: 18px;
    font-weight: 600;
}

.Mypage_AuctionCardBtnCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.Mypage_AuctionCardBtn {
    background-color: #D9D9D9;
    color:black;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_AuctionCardBtn p {
    font-weight: 600; 
    font-size: 16px;   
}

.Mypage_AuctionContentImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 160px;
}

.Mypage_AuctionContentImg {
    width: 140px;
    height: 140px;
}

.Mypage_AuctionContentDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;

}

.Mypage_AuctionContentBtnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.Mypage_AuctionContentBtnCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.Mypage_AuctionContentDetailTitle {
    width: 420px;
    height: 50px;
    justify-content: start;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.Mypage_AuctionContentDetailTitle h3 {
    font-size: 18px;
    font-weight: 600;
}

.Mypage_AuctionContentDetailContainer {
    display: flex;
    height: 110px;
    flex-direction: row;
}

.Mypage_AuctionContentDetailContainer p {
    font-size: 16px;
    font-weight: 600;

}

.Mypage_AuctionContentPrice, .Mypage_AuctionContentNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 100px;
    border-right: solid 1px #BFBFBF;
}

.Mypage_AuctionContentSeller {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 100px;
    
}

.Mypage_AuctionContenttitle {
    display: flex;
    align-items: center;
    height: 40px;
}

.Mypage_AuctionContenttext {
    display: flex;
    align-items: center;
    height: 60px;
}

.Mypage_AuctionAlert {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.Mypage_AuctionAlert div p {
    font-size: 14px;
    font-weight: 600;
    color: red;
}

.Mypage_AuctionProcessLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
}

.Mypage_AuctionProcessLineText {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 20px;
    justify-content: space-between;
}

.Mypage_AuctionProcessLineText p {
    font-size: 16px;
    font-weight: 600;
}

.Mypage_AuctionManagementContinaer {
    max-height: 550px;
    overflow-y: auto;
    scrollbar-width: none;   
}

.Mypage_AuctionManagementBar {
    display: flex;
    flex-direction: row;
    height: 30px;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
    align-items: center;
}

.Mypage_AuctionManagementBar div p {
    font-size: 16px;
    font-weight: 600;
}

.Mypage_AuctionManagementCard {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 140px;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mypage_AuctionManagementCard:hover {
    background-color: #e2e2e2;
}

.Mypage_AuctionManagementCardImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.Mypage_AuctionManagementCardImg {
    width: 120px;
    height: 120px;
    border: 1px solid #BFBFBF;
    object-fit: contain;
}

.Mypage_AuctionManagementCardTitleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.Mypage_AuctionManagementCardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.Mypage_AuctionManagementCardPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.Mypage_AuctionManagementCardBid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.Mypage_AuctionManagementCardPeriod {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}

.Mypage_AuctionManagementCardDeleteBtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.Mypage_AuctionManagementCardDeleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: black;
    font-weight: bold; 
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Mypage_AuctionManagementCardDeleteBtn:hover {
    background-color: #0A369D;
    color: white;
}

.Mypage_AuctionManagementImg {
    display: flex;
    justify-content: center;
    width: 140px;
}

.Mypage_AuctionManagementTitle {
    display: flex;
    justify-content: center;
    width: 160px;
}

.Mypage_AuctionManagementPrice {
    display: flex;
    justify-content: center;
    width: 100px;
}

.Mypage_AuctionManagementBid {
    display: flex;
    justify-content: center;
    width: 100px;
}

.Mypage_AuctionManagementPeriod {
    display: flex;
    justify-content: center;
    width: 240px;
}

.Mypage_AuctionManagementDeleteBtn {
    display: flex;
    justify-content: center;
    width: 60px;
}

.Mypage_AuctionProcessLinePoint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
}

.Mypage_AuctionProcessLinePoint {
    position: relative;
  }
  
  .progress-container {
    width: 330px;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    background: linear-gradient(to right, #76c7c0, blue);
    border-radius: 5px 0 0 5px;
    position: relative;
  }
  
  .progress-circle {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    transform: translate(-50%, 0);
  }

  .headerSearchBox {
    padding: 0 !important;
  }

  .AuctionCardModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .AuctionCardModal-content {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .AuctionCardModal-content div h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .AuctionCardModal-content div p {
    font-size: 16px;
    font-weight: 600;
  }

  .AuctionCardModal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
.AuctionCardModal-buttons button {
    width: 60px;
    height: 36px;
    background-color: #D9D9D9;
    color: black; 
    font-weight: bold; 
    font-size: 1rem; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.AuctionCardModal-buttons button:hover {
    background-color: #0A369D;
    color: white;
}

  .AuctionCardModal-buttons button {
    margin: 0 10px;
  }

  .AuctionCardModal-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 60px;
    border-bottom: 1px solid #BFBFBF; 
  }

  .Mypage_UserInfoDetail_title p {
    font-size: 18px;
    font-weight: 600;
  }

  .Mypage_UserInfoDetail_content p {
    font-size: 18px;
    display: block;
  }

  .MypageAuctionManagementCardTitle p {
    font-size: 16px;
    font-weight: 600;
  }

  .Mypage_AuctionManagementCardPrice p {
    font-size: 16px;
    font-weight: 600;
  }

  .Mypage_AuctionManagementCardBid p {
    font-size: 16px;
    font-weight: 600;
  }

  .Mypage_AuctionManagementCardPeriod p {
    font-size: 16px;
    font-weight: 600;
  }

  .Mypage_NoAuctionsMessage {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Mypage_NoAuctionsMessage p {
    font-size: 18px;
    font-weight: 600;
  }