.blank {
    height: 100px;
}

.Mypage_Container {
    width: 1200px;
    height: max-content;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mypage_SideBarContainer {
    width: 300px;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_SideBarProfile {
    display: flex;
    width: 280px;
    height: 280px;
    border-bottom: 2px solid #BFBFBF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Mypage_ProfileImg {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #BFBFBF;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    
}

.Mypage_ProfileImgModifyBtn {
    width: 40px;
    height: 40px;
    background-color: black;
}

.Mypage_SideBarCategory {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Mypage_ProfileBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_UserInfoContainer {
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: column;
}

.Mypage_UserInfoDetail {
    display: grid;
    width: 800px;
    height: 75px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoDetail2 {
    display: grid;
    width: 800px;
    height: 150px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoDetail3 {
    display: grid;
    width: 800px;
    height: 150px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.Mypage_UserInfoDetail2 .right-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: center;
}

.rightOne {
    display: flex;
    width: 500px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
}

.rightTwo {
    display: flex;
    width: 500px;
    height: 75px;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #BFBFBF;
}

.Mypage_UserInfoTitle {
    display: flex;
    height: 75px;
    align-items: center;
}

.Mypage_UserInfoModifyBtn {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.Mypage_AuctionInfoContainer {
    display: flex;
    width: 800px;
    height: 800px;
    flex-direction: column;
}

.Mypage_WalletInfoContainer {
    display: flex;
    width: 700px;
    height: 80px;
    justify-content: space-between;
}

.Mypage_WalletCredit {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.Mypage_WalletBtn {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: right;
    align-items: center;
}

.Mypage_WalletBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_WalletUsedContainer {
    display: flex;
    width: 700px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
}

.Mypage_WalletUsed {
    width: 700px;
    height: 490px;
    overflow-y: auto;
}

.Mypage_WalletUsed::-webkit-scrollbar {
    display: none;
}

.Mypage_TitleContainer {
    display: flex;
    width: 800px;
    height: 100px;
    border-bottom: 5px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_ModifyBtnContainer {
    display: flex;
    width: 800px;
    height: 100px;
    border-top: 5px solid #BFBFBF;
    justify-content: center;
    align-items: center;
}

.Mypage_WalletCard {
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    justify-content: space-between;
    align-content: center;
}

.Mypage_WalletCardLeft {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.Mypage_WalletCardRight {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 90px;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
}

.Mypage_WalletCardLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Mypage_WalletCardLine2 {
    display: flex;
    flex-direction: row;
}

.Mypage_WalletCardLine3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Mypage_WalletLine {
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
}

.Mypage_WalletRecordLine {
    display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
}

.Mypage_BttnBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Mypage_Bttn {
    background-color: #D9D9D9;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Mypage_Bttn:hover {
    background-color: #0A369D;
    color: white;
}

.Mypage_AuctionInfoContainer {
    display: flex;
    width: 800px;
    height: 120px;
    flex-direction: column;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.Mypage_AuctionCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 40px;
}

.Mypage_AuctionCategoryBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
    height: 40px;
}

.Mypage_AuctionCategoryBtn {
    display: flex;
    width: 300px;
    height: 40px;
    border: solid 1px blue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.Mypage_AuctionCardContinaer {
    max-height: 550px;
    overflow-y: auto;
    scrollbar-width: none;
}

.Mypage_AuctionCardContainer::-webkit-scrollbar {
    display: none;
}

.Mypage_AuctionMainContainer {
    display: flex;
    flex-direction: column;
}

.Mypage_blank {
    height: 20px;
}

.Mypage_AuctionCard {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 280px;
    border: solid 2px #BFBFBF;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Mypage_AuctionProcess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    border-bottom: solid 1px #BFBFBF;
}

.Mypage_AuctionBoxContainer {
    display: flex;
    width: 900px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    border: 2px solid #BFBFBF;
    align-items: center;
    flex-direction: column;
}

.Mypage_AuctionContentBox {
    display: flex;
    flex-direction: row;
    height: 160px;
    border-bottom: solid 1px #BFBFBF;
}

.Mypage_AuctionCardType {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
}

.Mypage_AuctionCardBtnCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.Mypage_AuctionCardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 5px;
}

.Mypage_AuctionContentImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 160px;
}

.Mypage_AuctionContentImg {
    width: 140px;
    height: 140px;
    background-color: black;
}

.Mypage_AuctionContentDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;

}

.Mypage_AuctionContentBtnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.Mypage_AuctionContentBtnCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.Mypage_AuctionContentDetailTitle {
    width: 420px;
    height: 50px;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.Mypage_AuctionContentDetailContainer {
    display: flex;
    height: 110px;
    flex-direction: row;
}

.Mypage_AuctionContentPrice, .Mypage_AuctionContentNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 100px;
    border-right: solid 1px #BFBFBF;
}

.Mypage_AuctionContentSeller {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 100px;
    
}

.Mypage_AuctionContenttitle {
    display: flex;
    align-items: center;
    height: 40px;
}

.Mypage_AuctionContenttext {
    display: flex;
    align-items: center;
    height: 60px;
}

.Mypage_AuctionAlert {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.Mypage_AuctionProcessLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.Mypage_AuctionProcessLineText {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 20px;
    justify-content: space-between;
}